# macOS
.DS_Store
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.env
.venv/
venv/

# Jupyter
.ipynb_checkpoints/
.jupyter/

# VS Code
.vscode/

# Data & outputs
/data/
outputs/
artifacts/

# Logs
*.log
